.inputSearch{
    width: 200px;
    height: 40px;
    margin-top: 30px;
}

.buttonNavSearch{
    width: 100px;
    height: 40px;
    background: #87847f;
    border: 1px solid #87847f;
    cursor: pointer;
    border-radius: 2px;
    color: #fff;
    font-family: "Exo", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding: 6px; 
    border-radius: 5px;
}