.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccc;

}

.formcontainer {
  width: 50%;
  height: 50%;
  padding-top: 3%;
}

input[type="text"] {
  width: 100%;
  padding: 5px 20px;
  margin: 5px 0;
  box-sizing: border-box;
  text-align: center;
}
textarea {
  width: 100%;
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}
.inputs {
  padding: 10px;
}

.fechaYraiting{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.inputfecha{
  width: 50%;
  padding: 5px 20px;
  margin: 5px 0;
  box-sizing: border-box;
}

.genresValues {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}

.genresvaluesdiv{
  padding: 10px;
  text-align: center;
}

.containerPG{
  display: flex;
  flex-wrap: wrap;
}

.containergenres{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.genresValues{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}
select {
  background: transparent;
  font-size: 14px;
  height: 30px;
  padding: 5px;
  width: 250px;
}

.namePlataforma{
  text-align: center;  
}

.platdiv{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
 
}

.platdiv label{
  padding-right: 20px;
}

.createDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.create{
  width: 260px;
  height: 40px;
  background: #87847f;
  border: 1px solid #87847f;
  cursor: pointer;
  border-radius: 2px;
  color: #fff;
  font-family: "Exo", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  padding: 6px;
  border-radius: 5px;
}

/* ****************** */
/* validaciones */

.errorText{
  margin: 0;
  margin-left: 30px;
  margin-bottom: 10px;
  color: rgb(205, 13, 13);
}

.errorSelectText{
  margin: 3px;
  margin-left: 25px;
  margin-bottom: 25px;
  color: rgb(215, 104, 25);
  justify-content: flex-start;
}




