.mainContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-radius: 15px;
  border: 1px solid black;
  /* background-color: aqua; */
  background-image: url("https://images4.alphacoders.com/783/783472.jpg")
}
.buttonNavBar{
  width: 260px;
  height: 40px;
  background: #fefdfa;
  border: 1px solid #87847f;
  cursor: pointer;
  border-radius: 2px;
  color: rgb(0, 0, 0);
  font-family: "Exo", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  padding: 6px;
  margin: 30px;
  border-radius: 5px;
}
